.shopContainer{
    display: grid;
    grid-template-columns: 4fr 1fr;
    
}
.productContainer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 45px;
    margin: 100px 100px;
 
}
.cartContainer{
    background-color: antiquewhite;
}
@media only screen and (max-width: 950px) {
    .shopContainer{
        grid-template-columns: 2fr 1fr;
        
    }
    .productContainer{
        grid-template-columns: repeat(2,1fr);
        gap: 10px; 
        margin: 10px 10px;

    }
}
