.header nav{
    display: flex;
    background-color: rgb(38, 43, 75) ;
    height: 80px;
    align-items: center;
    justify-content:space-around;
    

}
.header a{
    color: white;
    margin-left: 20px;
    text-decoration:none;
    font-size: 17px;
}
.header a:hover{
    color: rgb(230, 163, 76);
    
    font-size: 25px;
}